# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
.geniebot.json

# Python caches
.pytest_cache/
.mypy_cache/

# Local data
.guidelines/


